@charset "UTF-8";

/* html { 
    height: 100%;
    width: 100%;
} */

/* body { 
    height: 100%;
    width: 100%;
} */

.search_screen {
    font-size: 18px;
    margin: 3% auto;
    padding: 0% 4%;
    width: 92%;
    /* border: solid 1px #000000; */
}

#p_keyword {
    font-weight: bold;
}

#p_date {
    font-weight: bold;
}

#p_category {
    font-weight: bold;
}

#search_keyword {
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

#date {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.button {
    margin-top: 20px;
}

#btn_cancel {
    font-size: 18px;
    width: 30%;
    color: rgba(3, 3, 141, 0.604);
    font-weight: bold;
    border-radius: 10px;
}

#btn_search {
    font-size: 18px;
    width: 66%;
    margin-left: 2%;
    color: white;
    background-color: rgba(3, 3, 141, 0.604);
    font-weight: bold;
    border-radius: 10px;
}