@charset "UTF-8";

html { height: 100% }

body { height: 100% }

#map { height: 100%; width: 100%}

.event_info {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
}

.title {
    font-size: 160%;
    font-weight: bold;
}

.date {
    padding: 0px 26px;
    margin-right: 10px;
    background-color: lightgreen;
    border-radius: 30px;
}

.place {
    padding: 0px 26px;
    margin-right: 10px;
    background-color: lightblue;
    border-radius: 30px;
}

.category {
    padding: 0px 10px;
    margin-right: 10px;
    background-color: lightpink;
    border-radius: 30px;
}

.link {
    padding: 0px 18px;
    margin-right: 10px;
    background-color: lightcoral;
    border-radius: 30px;
}

.item{
    margin: 10px 0px;
    padding: 10px;
    border: solid 2px #ff6200;
    border-radius: 50px;
    width: 20%;
    background-color: #ffb700;
    text-align:center;
    font-size: 100%;
    white-space: nowrap;
}

.container{
    display: flex;
    border: solid 1px ;
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgb(255, 140, 0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

